@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
    
    h1 {
      font-family:'Erica One', regular;
      font-weight: 200;
      font-size: 6rem;
      color: #fdfdfd;
      margin-bottom: 2px;
    }
  